<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@3.2.27/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="grid grid-cols-1 bg-slate-50">
      <div class="place-self-center">
        <div class="divide-y divide-blue-200 my-4">
          <div>
            <h2 class="text-xl my-4">すでに埋まったもの</h2>
          </div>
          <div>
            <input type=text id="defined-words" class="outline-dashed outline-blue-300" placeholder="宣言済みのひらがな列"
              v-model="defined_words"></input>
          </div>
        </div>
      </div>
    </div>


    <div class="flex flex-wrap bg-lime-50">
      <div class="basis-1/2">
        <div class="m-8">
          <h2 class="text-xl my-2">候補値</h2>
          <ul id="v-for-object" class="list-inside list-disc">
            <li v-for="prefecture in possibility">
              {{ prefecture }}
            </li>
          </ul>
        </div>
      </div>
      <div class="basis-1/2 bg-red-50">
        <div class="m-8">
          <h2 class="text-xl my-2">候補外</h2>
          <ul id="v-for-object" class="list-inside list-disc">
            <li v-for="prefecture in impossibility">
              {{ prefecture }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    function convertHiraganaSmallToBig(s) {
      // このままだとっ、ょがヒットしないので暫定対応
      var replaced = s;
      const pattern = [
        ["ょ", "よ"],
        ["っ", "つ"],
      ];
      for (const t of pattern) {
        replaced = replaced.replace(t[0], t[1]);
      }
      return replaced;
    }

    const prefectures = [
      "ほっかいどう",
      "あおもり",
      "いわて",
      "みやぎ",
      "あきた",
      "やまがた",
      "ふくしま",
      "いばらき",
      "とちぎ",
      "ぐんま",
      "さいたま",
      "ちば",
      "とうきょう",
      "かながわ",
      "にいがた",
      "とやま",
      "いしかわ",
      "ふくい",
      "やまなし",
      "ながの",
      "ぎふ",
      "しずおか",
      "あいち",
      "みえ",
      "しが",
      "きょうと",
      "おおさか",
      "ひょうご",
      "なら",
      "わかやま",
      "とっとり",
      "しまね",
      "おかやま",
      "ひろしま",
      "やまぐち",
      "とくしま",
      "かがわ",
      "えひめ",
      "こうち",
      "ふくおか",
      "さが",
      "ながさき",
      "くまもと",
      "おおいた",
      "みやざき",
      "かごしま",
      "おきなわ",
    ];

    const HelloVueApp = {
      data() {
        return {
          defined_words: "",
          prefectures: prefectures,
        }
      },
      computed: {
        possibility() {
          const defined_words_splitted = this.defined_words.split("");
          const possibility_prefectures = this.prefectures.filter(
            function (v) {
              for (const t of defined_words_splitted) {
                if (convertHiraganaSmallToBig(v).normalize('NFD').indexOf(t) >= 0) return false;
              }
              return true;
            }
          )
          return possibility_prefectures;
        },
        impossibility() {
          // TODO: ロジックが判定の逆転だけなので、もう少し真面目にやるならまとめた方がいいかも
          const defined_words_splitted = this.defined_words.split("");
          const unpossibility_prefectures = this.prefectures.filter(
            function (v) {
              for (const t of defined_words_splitted) {
                if (convertHiraganaSmallToBig(v).normalize('NFD').indexOf(t) >= 0) return true;
              }
              return false;
            }
          )
          return unpossibility_prefectures;
        },
      }
    }
    Vue.createApp(HelloVueApp).mount('#app')
  </script>
</body>

</html>